.profile-container {
    position: relative;
    z-index: 10;
    
    .profile-image-container {
        position: absolute;
        top: 0;
        z-index: 10;
        cursor: pointer;
        will-change: transform;

        &.js-events-none {
            pointer-events: none;
        }
    }

    .profile-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 0;
        &.js-active-image {
            z-index: 1;
        }
        &.js-hidden {
            opacity: 0;
        }
    }

    .profile-info-container {
        opacity: 0;
        height: 100%;
        overflow-y: auto;

        h1 {
            margin-bottom: 50px;
        }
    }

    .navigator {
        color: white;
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 20;
    }
}