@import "./reset.scss";
@import "./variables.scss";
@import "./grid.scss";
@import "./typo.scss";
@import "./scrollbar.scss";

html {
  scroll-behavior: initial;
}

html,
body {
  &.js-scroll-disabled {
    overflow: hidden;
    pointer-events: none;
    cursor: none;
  }
}

body {
  background-color: white;
  line-height: 1;
  visibility: hidden;
}

.page {
  position: relative;
  z-index: 1;
  background-color: var(--mainWhite);
  min-height: 100vh;
}

.js-events-none {
  pointer-events: none;
}

.mask {
  overflow: hidden;
}

.border {
  border: 2px solid lightgreen;
}