@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);

body {
    font-family: 'Space Grotesk';
}

.uppercase {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.txt-center {
    text-align: center;
}
