@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);

body {
    font-family: 'Space Grotesk';
}

.title {
    font-size: 7vw;
    text-transform: uppercase;
}

.txt-base {
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 30px;
}

.uppercase {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.txt-center {
    text-align: center;
}
